
    <div class="overlay"></div>

    <%= video_tag "bg.mp4", :controls => false, :loop => true, :muted => true, :autoplay => true, :playsinline => true %>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Hello Shopify!</h1>
              <p class="mb-5">I've taken a popular Bootstrap 5 template and Rail-ed it! It uses the default routing to look in the <code>assets/</code> folder for the required JS and CSS. I've also added a custom <code>asset/mp4</code> folder to hold the background video.</p>
<p>This was actually a super fun introduction to a Ruby on Rails web app. I found it has a similar paradigm to Flask with routing and templates. Overall it was actually really intuitive to put together. It took me about 30 minutes to install Rails on Ubuntu and get this template modified.</p>

<p>Hope you guys like it! Thank you for considering me :) -Nabil</p>
              <div class="input-group input-group-newsletter">
                <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">Notify Me!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   


